<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <br />
        <br />
    </div>
    {{# if orders}}
        {{# each orders}}
            <div class="col-md-4 col-md-offset-2">
                    <div class="card-group">
                        <div class="card card-shadow">
                            <div class="card-header">Aliexpress order id: <a id="setShippingNumber{{ this._id }}" href="/admin/setshippingnumber/{{ this._id }}">#{{ this.alixpressOrderId }}</a></div>
                                <div class="card-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="Shipping number">Shipping number</label>
                                            <input type="sn" id="sn{{ this._id }}" name="sn" class="form-control" placeholder="Shipping number">
                                            <br />
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#add-order-shipping">Set shipping number</button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="add-order-shipping" tabindex="-1" role="dialog" aria-labelledby="add-order-shippingLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="add-order-shippingLabel">Add order id</h4>
                                                    </div>
                                                <div class="modal-body">
                                                    Do you want to add this shipping number to order?
                                                </div>
                                                    <div class="modal-footer">
                                                        <button id="setSn" type="button" class="btn btn-success" onclick='document.getElementById("setShippingNumber{{ this._id }}").href += "/" + document.getElementById("sn{{ this._id }}").value;document.getElementById("setShippingNumber{{ this._id }}").click();' data-dismiss="modal">Yes</button>
                                                        <button type="button" class="btn btn-danger" onclick='' data-dismiss="modal">No</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                <br /> 
            </div>
        {{/each}}
        {{ else }}
            <div class="col-md-8 col-md-offset-2">
                <br />
                <h2>No orders are missing shipping number</h2>
                <br />
                <a href="/admin/admin-panel" class="btn btn-primary">Go to admin Panel</a> 
            </div>
    {{/if}}  
</div>