<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success{{#if noMessage}}hidden{{/if}}">
            {{ successMsg }}
        </div>
    </div>
</div>
{{# each products }}
<div class="card-group">
    {{# each this }}    
    <div class="card card-shadow" style="width: 18rem;margin-right: 15px;">
        <img class="card-img-top img-responsive" src="{{ this.imagePath }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ this.title }}</h5>
            <p class="card-text description">{{ this.description }}</p>
            <div class="clearfix">
                <div class="price pull-left">{{ this.price }}$</div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#remove-product-warning">remove product</button>
                <!-- Modal -->
                <div class="modal fade" id="remove-product-warning" tabindex="-1" role="dialog" aria-labelledby="remove-product-warningLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title pull-left" id="remove-product-warningLabel">remove product</h4>
                            </div>
                            <div class="modal-body">
                                Do you want to remove {{ this.title }} product from your store?
                            </div>
                            <div class="modal-footer">
                                <a href="/admin/removeproduct/{{ this._id }}" class="btn btn-danger" data-dismiss="modal">Yes</a>
                                <button type="button" class="btn " onclick='' data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}
<br />
<br />
