<br />
<section class="card-invoice bg-white card-shadow">
          <div id="invoice-template" class="card-body">
            <!-- Invoice Company Details -->
            <div id="invoice-company-details" class="row">
              <div class="col-md-6 col-sm-12 text-center text-md-left">
                <div class="media">
                  <img src="../../images/logo.png" alt="company logo" class="">
                  <div class="media-body">
                    <ul class="ml-2 px-0 list-unstyled">
                      <li class="text-bold-800">Webshop</li>
                      <li>Buskelundskoven 55,</li>
                      <li>Silkeborg 8600,</li>
                      <li>Midtjylland,</li>
                      <li>Danmark</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 text-center text-md-right">
                <h2>INVOICE</h2>
                <p class="pb-3">#{{order._id}}</p>

              </div>
            </div>
            <!--/ Invoice Company Details -->
            <!-- Invoice Customer Details -->
            <div id="invoice-customer-details" class="row pt-2">
              <div class="col-sm-12 text-center text-md-left">
                <p class="text-muted">Bill To</p>
              </div>
              <div class="col-md-6 col-sm-12 text-center text-md-left">
                <ul class="px-0 list-unstyled">
                  <li class="text-bold-800">{{ order.name }}</li>
                  <li>{{ order.adressLine1 }},</li>
                  {{# if order.adressLine2 }}
                    <li>{{ order.adressLine2 }},</li>
                  {{/if}}
                  <li>{{ order.city }}-{{ order.postalCode }},</li>
                  <li>{{ order.state }},</li>
                   <li>{{ order.country }}.</li>
                </ul>
              </div>
              <div class="col-md-6 col-sm-12 text-center text-md-right">
                <p>
                  <span class="text-muted">Invoice Date :</span> {{order.date}}</p>
                <p>
                  <span class="text-muted">Terms :</span> Paid</p>
                <p>
                  <span class="text-muted">Paid Date :</span> {{order.date}}</p>
              </div>
            </div>
            <!--/ Invoice Customer Details -->
            <!-- Invoice Items Details -->
            <div id="invoice-items-details" class="pt-2">
              <div class="row">
                <div class="table-responsive col-sm-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Item &amp; Description</th>
                        <th class="text-right">Price Per Item</th>
                        <th class="text-right">Amount</th>
                        <th class="text-right">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                    {{# each items}}
                        <tr>
                            <th scope="row">{{inc @index}}</th>
                                <td>
                                <p>{{ this.item.title }}</p>
                                <p class="text-muted">{{ this.item.description }}</p>
                                </td>
                                <td class="text-right">$ {{ this.item.price }} </td>
                                <td class="text-right"> {{ this.qty }} </td>
                                <td class="text-right">$ {{ this.price }}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-md-7 col-sm-12 text-center text-md-left">
                  <p class="lead">Payment ID:</p>
                  <div class="row">
                    <div class="col-md-8">
                      <table class="table table-borderless table-sm">
                        <tbody>
                          <tr>
                            <td>Stripe payment id:</td>
                            <td class="text-right">{{ order.paymentId }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 col-sm-12">
                  <p class="lead">Total paid</p>
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>Sub Total</td>
                          <td class="text-right">$ {{order.cart.totalPrice}}</td>
                        </tr>
                        <tr>
                          <td>TAX (0%)</td>
                          <td class="text-right">$ 0</td>
                        </tr>
                        <tr>
                          <td class="text-bold-800">Total</td>
                          <td class="text-bold-800 text-right"> $ {{order.cart.totalPrice}} </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
</section>
<br />
